.container {
    height:600px;
    border:2px solid lightblue;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:  rgb(235, 204, 4);
    align-items: center;
    justify-content: space-around;
   
 }
 .item {
     background-color: rgb(2, 2, 2);
     border: 2px solid black;
     height: 100px;
     width: 200px;
     margin: 10px;
     text-align: center;
     padding-top: 10%;
     color:azure;
 }
 .item2 {
     order: 3;
     flex-shrink: 2;
 }
 .item3 {
     order: 1;
     flex-grow: 3;
 }