body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width:15%;
    height:100%;
    background-color: #f36565;
    color:#fff;
  padding-bottom: 500px;
    padding-top: 150px;
}
header {
    background-color: #f36565;
    color: #fff;
    text-align: center;
    padding: 10px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 16px;
}

#error-msg {
    color: rgb(253, 140, 140);
    text-align: center;
    margin-top: 10px;
}

#todo-list {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.todo {
    background-color: #fffcfc;
    padding: 10px;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.todo span {
    margin-right: 10px;
}

.todo button {
    background-color: rgb(241, 73, 67);
    color: #fff;
    border: none;
    cursor: pointer;
}
  
  
